.main
{
  padding-left: 60px;
  padding-right: 60px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.main li {
  position: relative;
  list-style: none;
  padding: 2px;
  border-bottom: #eee solid 6px;
  background-color: #69f0ae;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888 !important;
  background-color: #ef9a9a;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -0px;
    visibility: visible;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.homewall {
    background:url('/images/homewallpaper.jpg') center center no-repeat;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}

.homepageheader {
    letter-spacing: 80px;
    font-size: 80px;
}

.midscreen {
  padding-top:10%;
}

.homewall .accounts-dialog {
    z-index: 1000;
    background: white;
    padding: 8px 12px;
    width: 400px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 2px;
    color: #333;
}

.nav-wrapper ul {
    margin: 0;
    padding: 0;
    background: transparent;
}

nav {
    color: #fff;
    background-color: #535461;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .accounts-dialog {
  margin-right: 300px;
}

#login-buttons {
    display: inline-block;
}

.lean-overlay {
    display: none !important;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 90%;
    width: 40%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    -webkit-box-shadow: 0px 0px 155px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 155px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 155px 0px rgba(0,0,0,0.75);
}

a {
    color: #2B3C44;
    -webkit-tap-highlight-color: transparent;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #535461;
}

.messagelist {
  max-height: 80vh;
  overflow-y: scroll;
}
