<template name="todolist">
<body>
  {{> navbar}}
  <div class="main">
    {{> autoformModals}}
    <div class="row">
      <div class="col s12 center-align">
          <h3 class="thin">Goal Tracker</h3>
          <label class="hide-completed">
            <input type="checkbox" checked="{{hideCompleted}}" />
            Hide Completed Tasks
          </label>
          <br>
          <div class="divider"></div>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s6 center-align valign">
        <h5>Complete Tasks</h5>
        <p>{{completeCount}}</p>
        <h5>Incomplete Tasks</h5>
        <p>{{incompleteCount}}</p>
      </div>
      <div class="col s6">
        <div id="chart">{{createChart}}</div>
      </div>
    </div>
    <div class="divider"></div>
    <br>
    {{#if currentUser}}
      <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        {{#afModal classes="btn-floating btn-large blue-grey darken-2" collection="Tasks" operation="insert" omitFields="checked, createdBy"}}
            <i class="material-icons">add</i>
            Add New Tasks
        {{/afModal}}
      </div>
    {{/if}}
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
	</div>
  {{>footer}}
</body>
</template>
