<template name="footer">
  <footer class="page-footer">
    <div class="container">
        <div class="col l12 s12 right-align" style="padding-bottom: 10px;">
          <p class="grey-text text-lighten-4">Created by <a class="white-text" href="http://patrickbollenbach.me">Patrick Bollenbach</a></p>
        </div>
    </div>
  </footer>
</template>
