<template name="homepage">
<div class="homewall">
  <div class="row">
    <div class="col s12 left-align">
        {{> loginButtons}}
    </div>
  </div>
  <div class="midscreen">
    <div class="row">
      <div class="col s6 offset-s3">
        {{#if currentUser}}
          <a class="waves-effect waves-teal btn-flat col offset-s5" href="/todolist">Enter Site</a>
        {{/if}}
        <h1 class="homepageheader black-text light">CAPCHAT</h1>
        <br/><br/><br/>
      </div>
    </div>
  </div>
</div>
</template>
