<template name="input">
    <div id="input" class="well">
        <strong>Your message</strong>
        <textarea rows="3" id="newMessage"></textarea>
        <a id="send">Send</a>
    </div>
</template>
