<template name="navbar">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Astroid</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo white-text thin">CAPCHAT</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/todolist">Goals</a></li>
        <li><a href="/chat">Messages</a></li>
        <li>{{>loginButtons}}</li>
      </ul>
    </div>
  </nav>
</template>
