<template name="task">
<div id="colourbox">
  <li class="{{#if checked}}checked{{/if}}">
    <a href="#" class="toggledone">
      <button class="delete">&times;</button>
      <div class="row">
        <div class="col s8">
          <p>{{category}}</p>
          <h4 class="text">{{title}}</h4>
          <p class="text">{{description}}</p>
        </div>
        <div class="col s4">
          <p class="text">Priority:  {{priority}}</p>
          <p class="text">Target Date:   {{targetDate}}</p>
          <p class="text">Created By:    {{createdBy}}</p>
        </div>
      </div>
    </a>
  </li>
</div>
</template>
